<link rel='stylesheet' href='/public/css/home.css' />
<link rel='stylesheet' href='/public/css/search.css' />
<link rel='stylesheet' href='/public/css/badge.css' />
<link rel="stylesheet" href="/public/css/pagination.css">
<div class='container-lg ml-4 mr-4 mb-5' style='margin-top: 100px;'>
    <div class='row'>
        <div class='col-3 result-count dumb'>7,471 results for “css”</div>
        <div class='col-3 my-sidebar'>
            <div id='accordion' class='myaccordion'>
                <div class="current-filter">
                    <a type="button" class=" btn-light">
                        Ratings Ascending
                        <i class="bi bi-x"></i>
                    </a>
                </div>
                <div class='card'>
                    <div class='card-header' id='headingOne'>
                        <h2 class='mb-0'>
                            <button class='d-flex align-items-center justify-content-between btn btn-link'
                                data-toggle='collapse' data-target='#collapseOne' aria-expanded='true'
                                aria-controls='collapseOne'>
                                Ratings
                                <span class='fa-stack fa-sm'>
                                    <i class='fas fa-circle fa-stack-2x'></i>
                                    <i class='fas fa-minus fa-stack-1x fa-inverse'></i>
                                </span>
                            </button>
                        </h2>
                    </div>
                    <div id='collapseOne' class='collapse show' aria-labelledby='headingOne' data-parent='#accordion'>
                        <div class='card-body'>
                            <ul>
                                <li>Ascending</li>
                                <li>Decending</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class='card'>
                    <div class='card-header' id='headingTwo'>
                        <h2 class='mb-0'>
                            <button class='d-flex align-items-center justify-content-between btn btn-link collapsed'
                                data-toggle='collapse' data-target='#collapseTwo' aria-expanded='false'
                                aria-controls='collapseTwo'>
                                Price
                                <span class='fa-stack fa-2x'>
                                    <i class='fas fa-circle fa-stack-2x'></i>
                                    <i class='fas fa-plus fa-stack-1x fa-inverse'></i>
                                </span>
                            </button>
                        </h2>
                    </div>
                    <div id='collapseTwo' class='collapse' aria-labelledby='headingTwo' data-parent='#accordion'>
                        <div class='card-body'>
                            <ul>
                                <li>Informatics</li>
                                <li>Mathematics</li>
                                <li>Greek</li>
                                <li>Biostatistics</li>
                                <li>English</li>
                                <li>Nursing</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class='card'>
                    <div class='card-header' id='headingThree'>
                        <h2 class='mb-0'>
                            <button class='d-flex align-items-center justify-content-between btn btn-link collapsed'
                                data-toggle='collapse' data-target='#collapseThree' aria-expanded='false'
                                aria-controls='collapseThree'>
                                Research
                                <span class='fa-stack fa-2x'>
                                    <i class='fas fa-circle fa-stack-2x'></i>
                                    <i class='fas fa-plus fa-stack-1x fa-inverse'></i>
                                </span>
                            </button>
                        </h2>
                    </div>
                    <div id='collapseThree' class='collapse' aria-labelledby='headingThree' data-parent='#accordion'>
                        <div class='card-body'>
                            <ul>
                                <li>Astrophysics</li>
                                <li>Informatics</li>
                                <li>Criminology</li>
                                <li>Economics</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='col ml-5'>
            <div class="outstanding-course">
                <p>Outstanding Course</p>
            </div>
            <div class='row'>
                <div class='card mb-3'>
                    <span class='text-muted product-category'>Web development</span>
                    <div class='row no-gutters'>
                        <div class='col-md-3' style='max-height: 227px'>
                            <div class="badge-overlay">
                                <span class="top-left badge red">Super Discount</span>
                            </div>
                            <img src='https://via.placeholder.com/400x400'
                                style='object-fit: cover; width: 100%; height: 100%' alt='...' />
                        </div>
                        <div class='col-md-9' style='max-height: 227px'>
                            <div class='card-body'>
                                <h5 class='card-title product-title'>The Linux Command Line
                                    Bootcamp: Beginner To Power User</h5>
                                
                                <small class='text-muted'>By: Brad Traversy</small>
                                <small class='text-muted'>14 total hour . 137 lectures</small>
                                <p class='tinyDesc' style='margin-top: 16px;'>SEO Training
                                    From An SEO Agency Owner: Step By Step Process To Rank #1 on
                                    Google. Keyword Research, Technical SEO & More</p>
                                <div class='rating mt-1' rating_score='1' rating_count='97'>
                                    {{! chỉ cần thêm attribute như thế này thì
                                    script
                                    sẽ tự render rating }}
                                </div>
                                <div class='product-price-wrapper mt-1'>
                                    <span class='old-price'>6.000.000đ</span>
                                    <span class='new-price float-right' style='font-size: 22px;'>4.000.000đ</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='card mb-3'>
                    <span class='text-muted product-category'>Web development</span>
                    <div class='row no-gutters'>
                        <div class='col-md-3' style='max-height: 227px'>
                            <div class="badge-overlay">
                                <span class="top-right badge orange">Best Selling</span>
                            </div>
                            <img src='https://via.placeholder.com/400x400'
                                style='object-fit: cover; width: 100%; height: 100%' alt='...' />
                        </div>
                        <div class='col-md-9' style='max-height: 227px'>
                            <div class='card-body'>
                                <h5 class='card-title product-title'>The Linux Command Line
                                    Bootcamp: Beginner To Power User</h5>
                                
                                <small class='text-muted'>By: Brad Traversy</small>
                                <small class='text-muted'>14 total hour . 137 lectures</small>
                                <p class='tinyDesc' style='margin-top: 16px;'>SEO Training
                                    From An SEO Agency Owner: Step By Step Process To Rank #1 on
                                    Google. Keyword Research, Technical SEO & More</p>
                                <div class='rating mt-1' rating_score='1' rating_count='97'>
                                    {{! chỉ cần thêm attribute như thế này thì
                                    script
                                    sẽ tự render rating }}
                                </div>
                                <div class='product-price-wrapper mt-1'>
                                    <span class='old-price'>6.000.000đ</span>
                                    <span class='new-price float-right' style='font-size: 22px;'>4.000.000đ</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="outstanding-course mt-5">
                <p>Relevent Course</p>
            </div>
            <div class="row justify-content-center">
                <div class="col-auto mt-3">
                    <div class="card product-item" style="max-width: 300px" >
                        <img src="https://via.placeholder.com/400x400" width="250" height="150" style="object-fit: cover;"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title product-title">The Linux Command Line Bootcamp: Beginner To Power User</h5>
                            <span class="text-muted product-category">Web development</span>
                            <small class="text-muted">Brad Traversy</small>
                            <div class="rating mt-1" rating_score="1" rating_count="97"> {{!-- chỉ cần thêm attribute như thế này thì script
                            sẽ tự render rating --}}
                            </div>
                            <div class="product-price-wrapper mt-3">
                            <span class="old-price">6.000.000đ</span>
                            <span class="new-price float-right">4.000.000đ</span>
                            </div>
                        </div>
                    </div>                    
                </div>
                <div class="col-auto mt-3">
                    <div class="card product-item" style="max-width: 300px" >
                        <img src="https://via.placeholder.com/400x400" width="250" height="150" style="object-fit: cover;"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title product-title">The Linux Command Line Bootcamp: Beginner To Power User</h5>
                            <span class="text-muted product-category">Web development</span>
                            <small class="text-muted">Brad Traversy</small>
                            <div class="rating mt-1" rating_score="1" rating_count="97"> {{!-- chỉ cần thêm attribute như thế này thì script
                            sẽ tự render rating --}}
                            </div>
                            <div class="product-price-wrapper mt-3">
                            <span class="old-price">6.000.000đ</span>
                            <span class="new-price float-right">4.000.000đ</span>
                            </div>
                        </div>
                    </div>                    
                </div>
                <div class="col-auto mt-3">
                    <div class="card product-item" style="max-width: 300px" >
                        <img src="https://via.placeholder.com/400x400" width="250" height="150" style="object-fit: cover;"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title product-title">The Linux Command Line Bootcamp: Beginner To Power User</h5>
                            <span class="text-muted product-category">Web development</span>
                            <small class="text-muted">Brad Traversy</small>
                            <div class="rating mt-1" rating_score="1" rating_count="97"> {{!-- chỉ cần thêm attribute như thế này thì script
                            sẽ tự render rating --}}
                            </div>
                            <div class="product-price-wrapper mt-3">
                            <span class="old-price">6.000.000đ</span>
                            <span class="new-price float-right">4.000.000đ</span>
                            </div>
                        </div>
                    </div>                    
                </div>
                <div class="col-auto mt-3">
                    <div class="card product-item" style="max-width: 300px" >
                        <img src="https://via.placeholder.com/400x400" width="250" height="150" style="object-fit: cover;"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title product-title">The Linux Command Line Bootcamp: Beginner To Power User</h5>
                            <span class="text-muted product-category">Web development</span>
                            <small class="text-muted">Brad Traversy</small>
                            <div class="rating mt-1" rating_score="1" rating_count="97"> {{!-- chỉ cần thêm attribute như thế này thì script
                            sẽ tự render rating --}}
                            </div>
                            <div class="product-price-wrapper mt-3">
                            <span class="old-price">6.000.000đ</span>
                            <span class="new-price float-right">4.000.000đ</span>
                            </div>
                        </div>
                    </div>                    
                </div>
                <div class="col-auto mt-3">
                    <div class="card product-item" style="max-width: 300px" >
                        <img src="https://via.placeholder.com/400x400" width="250" height="150" style="object-fit: cover;"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title product-title">The Linux Command Line Bootcamp: Beginner To Power User</h5>
                            <span class="text-muted product-category">Web development</span>
                            <small class="text-muted">Brad Traversy</small>
                            <div class="rating mt-1" rating_score="1" rating_count="97"> {{!-- chỉ cần thêm attribute như thế này thì script
                            sẽ tự render rating --}}
                            </div>
                            <div class="product-price-wrapper mt-3">
                            <span class="old-price">6.000.000đ</span>
                            <span class="new-price float-right">4.000.000đ</span>
                            </div>
                        </div>
                    </div>                    
                </div>
                <div class="col-auto mt-3">
                    <div class="card product-item" style="max-width: 300px" >
                        <img src="https://via.placeholder.com/400x400" width="250" height="150" style="object-fit: cover;"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title product-title">The Linux Command Line Bootcamp: Beginner To Power User</h5>
                            <span class="text-muted product-category">Web development</span>
                            <small class="text-muted">Brad Traversy</small>
                            <div class="rating mt-1" rating_score="1" rating_count="97"> {{!-- chỉ cần thêm attribute như thế này thì script
                            sẽ tự render rating --}}
                            </div>
                            <div class="product-price-wrapper mt-3">
                            <span class="old-price">6.000.000đ</span>
                            <span class="new-price float-right">4.000.000đ</span>
                            </div>
                        </div>
                    </div>                    
                </div>
                <div class="col-auto mt-3">
                    <div class="card product-item" style="max-width: 300px" >
                        <img src="https://via.placeholder.com/400x400" width="250" height="150" style="object-fit: cover;"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title product-title">The Linux Command Line Bootcamp: Beginner To Power User</h5>
                            <span class="text-muted product-category">Web development</span>
                            <small class="text-muted">Brad Traversy</small>
                            <div class="rating mt-1" rating_score="1" rating_count="97"> {{!-- chỉ cần thêm attribute như thế này thì script
                            sẽ tự render rating --}}
                            </div>
                            <div class="product-price-wrapper mt-3">
                            <span class="old-price">6.000.000đ</span>
                            <span class="new-price float-right">4.000.000đ</span>
                            </div>
                        </div>
                    </div>                    
                </div>
                <div class="col-auto mt-3">
                    <div class="card product-item" style="max-width: 300px" >
                        <img src="https://via.placeholder.com/400x400" width="250" height="150" style="object-fit: cover;"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title product-title">The Linux Command Line Bootcamp: Beginner To Power User</h5>
                            <span class="text-muted product-category">Web development</span>
                            <small class="text-muted">Brad Traversy</small>
                            <div class="rating mt-1" rating_score="1" rating_count="97"> {{!-- chỉ cần thêm attribute như thế này thì script
                            sẽ tự render rating --}}
                            </div>
                            <div class="product-price-wrapper mt-3">
                            <span class="old-price">6.000.000đ</span>
                            <span class="new-price float-right">4.000.000đ</span>
                            </div>
                        </div>
                    </div>                    
                </div>
                <div class="col-auto mt-3">
                    <div class="card product-item" style="max-width: 300px" >
                        <img src="https://via.placeholder.com/400x400" width="250" height="150" style="object-fit: cover;"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title product-title">The Linux Command Line Bootcamp: Beginner To Power User</h5>
                            <span class="text-muted product-category">Web development</span>
                            <small class="text-muted">Brad Traversy</small>
                            <div class="rating mt-1" rating_score="1" rating_count="97"> {{!-- chỉ cần thêm attribute như thế này thì script
                            sẽ tự render rating --}}
                            </div>
                            <div class="product-price-wrapper mt-3">
                            <span class="old-price">6.000.000đ</span>
                            <span class="new-price float-right">4.000.000đ</span>
                            </div>
                        </div>
                    </div>                    
                </div>
                <div class="col-auto mt-3">
                    <div class="card product-item" style="max-width: 300px" >
                        <img src="https://via.placeholder.com/400x400" width="250" height="150" style="object-fit: cover;"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title product-title">The Linux Command Line Bootcamp: Beginner To Power User</h5>
                            <span class="text-muted product-category">Web development</span>
                            <small class="text-muted">Brad Traversy</small>
                            <div class="rating mt-1" rating_score="1" rating_count="97"> {{!-- chỉ cần thêm attribute như thế này thì script
                            sẽ tự render rating --}}
                            </div>
                            <div class="product-price-wrapper mt-3">
                            <span class="old-price">6.000.000đ</span>
                            <span class="new-price float-right">4.000.000đ</span>
                            </div>
                        </div>
                    </div>                    
                </div>
                <div class="col-auto mt-3">
                    <div class="card product-item" style="max-width: 300px" >
                        <img src="https://via.placeholder.com/400x400" width="250" height="150" style="object-fit: cover;"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title product-title">The Linux Command Line Bootcamp: Beginner To Power User</h5>
                            <span class="text-muted product-category">Web development</span>
                            <small class="text-muted">Brad Traversy</small>
                            <div class="rating mt-1" rating_score="1" rating_count="97"> {{!-- chỉ cần thêm attribute như thế này thì script
                            sẽ tự render rating --}}
                            </div>
                            <div class="product-price-wrapper mt-3">
                            <span class="old-price">6.000.000đ</span>
                            <span class="new-price float-right">4.000.000đ</span>
                            </div>
                        </div>
                    </div>                    
                </div>
                <div class="col-auto mt-3">
                    <div class="card product-item" style="max-width: 300px" >
                        <img src="https://via.placeholder.com/400x400" width="250" height="150" style="object-fit: cover;"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title product-title">The Linux Command Line Bootcamp: Beginner To Power User</h5>
                            <span class="text-muted product-category">Web development</span>
                            <small class="text-muted">Brad Traversy</small>
                            <div class="rating mt-1" rating_score="1" rating_count="97"> {{!-- chỉ cần thêm attribute như thế này thì script
                            sẽ tự render rating --}}
                            </div>
                            <div class="product-price-wrapper mt-3">
                            <span class="old-price">6.000.000đ</span>
                            <span class="new-price float-right">4.000.000đ</span>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>  
            <div class="page-container">
                <button class="first-page">
                <i class="fas fa-angle-double-left"></i>
                </button>
                <button class="prev-page">
                <i class="fas fa-angle-left"></i>
                </button>
                <div id="pagination"></div>
                <button class="next-page">
                <i class="fas fa-angle-right"></i>
                </button>
                <button class="last-page">
                <i class="fas fa-angle-double-right"></i>
                </button>
            </div>
        </div>
        
    </div>
</div>

{{#section 'script'}}
<script>
    let myFilter = document.querySelector('.my-sidebar'); let footer =
        document.querySelector('footer'); 
        let offsetTop = myFilter.offsetTop;
        window.onscroll = (e) => {
        let scroll = window.scrollY ;
        let move = offsetTop + scroll; 
        if (move + myFilter.clientHeight >= footer.offsetTop) {
                move = footer.offsetTop - myFilter.clientHeight - 50;
        } 
        myFilter.style['top'] = move + 'px';
    } 
    $("#accordion").on('hide.bs.collapse show.bs.collapse', e => {
        $(e.target).prev().find('i:last-child').toggleClass('fa-minus fa-plus'); 
    });

</script>
{{/section}}

<script src='/public/script/rating.js'></script>
<script src="/public/script/pagination.js">

</script>
<script>
    const valuePage = {
        totalPages: 100,
        curPage: 96,
        truncate: true,
       numLinksTwoSide: 1,
       url: "/search?k=a"
       
     };
     pagination(valuePage);
</script>