.product-title{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.ellipsis-2l{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical;
}
.ellipsis-3l{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3 !important;
    -webkit-box-orient: vertical;
}
.product-item{
    min-height: 350px;
}
.slider *{
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
.slider-title{
    font-family: 'Gentleman', sans-serif;
}
.product-title{
    font-size: 16px;
    font-weight: 600;
}
.product-category{
    position: absolute;
    z-index: 999;
    top: 0;
    right: 0;
    color: white !important;
    padding: 4px 8px;
    background-color: #d31b1b;;
    border-radius: 4px;
    font-size: 13px;
    font-style: italic;
    font-family:'Gentleman', sans-serif ;
}
.rating{
    display: flex;
    align-items: center;
    color: rgb(182, 66, 20)
}
.rating-score{
    font-weight: bold;
    font-size: 14px;
}
.rating .bi{
    color: rgb(244, 182, 27);
}
.old-price{
    text-decoration: line-through;
    color: rgb(192, 192, 192);
    font-size: 15px;
}
.new-price{
    font-weight: bold;
}
.tinyDesc{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
@media screen and (max-width: 650px) {
    .tinyDesc{
        -webkit-line-clamp: 2;
    }
}
@media screen and (max-width: 425px) {
    .popular-courses .old-price{
        display: none;
    }
    .popular-courses .new-price{
        float: none;
    }
}
.typed-cursor {
    font-size: 30px;
    font-family: cursive;
    font-style: italic;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-webkit-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.banner .static,
.banner .dynamic{
    font-size: 35px; 
    font-family: cursive;
    font-style: italic;
}

@media screen and (max-width: 1200px) {
    .banner .static,
    .banner .dynamic{
        font-size: 25px; 
    }
}
@media screen and (max-width: 770px) {
    .banner .static,
    .banner .dynamic{
        font-size: 18px; 
    }
}
@media screen and (max-width: 588px) {
    .banner .static,
    .banner .dynamic{
        font-size: 16px; 
    }
}
@media screen and (max-width: 530px) {
    .banner .static,
    .banner .dynamic{
        font-size: 13px; 
    }
}
@media screen and (max-width: 460px) {
    .banner .static,
    .banner .dynamic{
        font-size: 9px; 
    }
}
.top-cat .btn{
    min-width: 200px;
    margin-top: 6px;
    background-color: transparent;
    border: 1px solid #ccc;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-size: 15px;
}
.top-cat .row{
    justify-content: center !important;
}

a{
    text-decoration: none !important;
}
a:hover{
    text-decoration: none !important;
}
.categories-item{
    margin-bottom: 16px;
    width: 30%;
    height: 84px;
}

.categories-title{
    font-family:'Gentleman', sans-serif ;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    color: rgb(77, 16, 3);
    margin-left: 4px;
}

.categories-item-wrapper{
    border-radius: 4px;
    transition: all 0.3s linear;
    flex-direction: column;

}
.categories-item-wrapper:hover{
    transform: translateY(-6px);
    
}
.categories-item-wrapper img{
    animation: zoomin 0.2s linear forwards
}
.categories-item-wrapper:hover img{
    animation: zoomout 0.2s linear forwards
}
@keyframes zoomout {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(0.85);
    }
}
@keyframes zoomin {
    0%{
        transform: scale(0.85);
    }
    100%{
        transform: scale(1);
    }
}



:root {
    --color-body: #fff;
    --color-box: #f2f6f6;
    --color-text: #545252;
    --color-primary: #007882;
    --font-normal: 400;
    --font-bold: 700;
    --radius: 10px;
    --radius-xl: 50px;
    --transition-time: 0.3s;
    --transition: all var(--transition-time);
}
/* ========== Global ========== */
/* ========== Layout ========== */
.section {
    display: block;
    width: 100%;
}
.section_offset {
    padding: 50px 0;
}
/* ========== Slider ========== */
.feedback {
    padding: 50px;
    border-radius: var(--radius-xl);
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
.feedback__title {
    font-size: 40px;
    font-weight: var(--font-bold);
    margin-bottom: 20px;
    font-family: "Gentleman", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.feedback__slider {
    height: auto;
    transition: var(--transition);
    position: relative;
}
.feedback__slider::before {
    content: '';
    position: absolute;
    z-index: 9;
    top: 0;
    right: 0;
    left: 0;
    height: 150px;
    background: linear-gradient(180deg, var(--color-box) 41.72%, rgba(242, 246, 246, 0) 76.33%, rgba(242, 246, 246, 0) 76.33%);
}
.feedback__slider::after {
    content: '';
    position: absolute;
    z-index: 9;
    bottom: 0;
    right: 0;
    left: 0;
    height: 150px;
    background: linear-gradient(1.27deg, var(--color-box) 32.89%, rgba(242, 246, 246, 0) 76.89%, rgba(242, 246, 246, 0) 76.89%);
}
.feedback__slider .swiper-button-prev, .feedback__slider .swiper-button-next {
    top: initial;
    bottom: initial;
    left: 0;
    right: 0;
    width: 100%;
    height: 34px;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 34px;
}
.feedback__slider .swiper-button-prev::before, .feedback__slider .swiper-button-next::before, .feedback__slider .swiper-button-prev::after, .feedback__slider .swiper-button-next::after {
    display: none;
    content: '';
}
.feedback__slider .swiper-button-prev {
    top: 0;
}
.feedback__slider .swiper-button-next {
    bottom: 0;
}
.feedback__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 30px;
    border-radius: var(--radius);
    background: var(--color-body);
    text-align: center;
}
.feedback__image {
    display: inline-block;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.feedback__name {
    font-size: 18px;
    color: var(--color-primary);
    margin-bottom: 10px;
}
.feedback__text {
    margin: 0 0 1em 0;
}
.feedback__text:last-child {
    margin-bottom: 0;
}
/* ========== Media ========== */
@media (max-width: 991px) {
    .feedback__title, .feedback__text {
        text-align: center;
   }
}

.popover{
    max-width: 35%; 
    min-width: 20%; 
    max-height: 300px;
    overflow: hidden;
}
.popover li{
  list-style-type: disc;
}
.popover *{
  font-size: 16px
}