.myaccordion {
	max-width: 500px;
	margin: -2px auto;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

.myaccordion .card,
.myaccordion .card:last-child .card-header {
	border: none;
}

.myaccordion .card-header {
	border-bottom-color: #edeff0;
	background: transparent;
}

.myaccordion .fa-stack {
	font-size: 18px;
}

.myaccordion .btn {
	width: 100%;
	font-weight: bold;
	color: #004987;
	padding: 0;
}

.myaccordion .btn-link:hover,
.myaccordion .btn-link:focus {
	text-decoration: none;
}

.myaccordion li + li {
	margin-top: 10px;
}
.my-sidebar{
    scroll-behavior: smooth;
    position: absolute;
    width: 300px !important;
    min-width: 300px !important;
    max-width: 300px !important;
    
}

.dumb{
    width: 300px !important;
    min-width: 300px !important;
    max-width: 300px !important;
}
.collapse-active{
    transition: all 0.2s ease-in;
    position: absolute;
    left: -300px;

}
.dumb.collapse-active{
    transition: all 0.2s ease-in;
    
    position: absolute;
    left: -250px;
}
.result-count{
    font-family: "Gentleman";
    font-size: 22px;
    font-weight: bold;
}
.hidden{
    display: none;
}

a{
    text-decoration: none !important;
    color: black;
}
a:hover{
    text-decoration: none !important;
    color: black;
}
.tinyDesc{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

@media screen and (max-width: 992px) {
    .my-sidebar{
        z-index: 99999999;
        left: 0;
    }
    .collapse-active{
        display: none;
    }
    .overlay-screen{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 99999;
    }
    .hidden-overlay{
        display: none;
    }
    .bi-x-lg{
        color: white;
    }
    .row{
        justify-content: center;
    }
    .ml-5{
        margin-left: 0 !important;
    }
}
.outstanding-course{
    font-family: "Gentleman";
    font-size: 24px;
}
.disabled{
    cursor: context-menu !important;
    color: #ccc !important;
}
.disabled *{
    cursor: context-menu !important;
}

