<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="card">
  <div class="card-header">
    Add Categories
  </div>
  <form action="" method="post">
    <div class="card-body">
      <div class="form-group">
          <label for="txtCatID"></label>
          <input type="text" name="IDCate" id="txtCatID" class="form-control" value="{{this.category.IDCate}}" readonly>
        </div>
        <div class="form-group">
          <label for="txtCatName"></label>
          <input type="text" name="Name" id="txtCatName" class="form-control" value="{{this.category.Name}}">
        </div>

    </div>
    <div class="card-footer text-muted">
      <a name="" id="" class="btn btn-outline-success" href="/admin/categories" role="button">
      <i class="fa fa-sign-out" aria-hidden="true"></i>
      Back</a>
      <button type="submit" name="" id="" class="btn btn-primary ml-2" formaction="/admin/categories/patch" > 
        <i class="fa fa-floppy-o" aria-hidden="true"></i>
        Save </button>
      <button type="submit" name="" id="" class="btn btn-danger ml-2" formaction="/admin/categories/del"> 
        <i class="fa fa-trash-o" aria-hidden="true"></i>
        Delete </button>
    </div>
  </form>
</div>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{{#if this.isAlert}}
  <script>
     Swal.fire({
  icon: '{{this.icon}}',
  title: '{{this.title}}',
  text: 'Something went wrong!',
  footer: '<a href="">Why do I have this issue?</a>',
  timer: 2500
})
  </script>
{{/if}}

