<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="/public/css/auth.css">

<form action="" method="POST" id="form_table" class="form-1" novalidate>
    <h1 class="form__header">CREATE ACCOUNT</h1>

    <span class="form__description mt-2">Register and start learning</span>
    <div class="spacer"></div>
    <div class="form__group ">
        <label for="name">Full Name</label>
        <input type="text" name="name" class="name" placeholder="Eg. Brad Traversy">
        <i class="fa-solid fa-triangle-exclamation error-icon"></i>
        <span class="form__group-message name-message"></span>
    </div>
    <div class="form__group ">
        <label for="email">Email</label>
        <input type="email" name="email" class="email" id="email" placeholder="Eg. email@domain.com">
        <i class="fa-solid fa-triangle-exclamation error-icon"></i>
        <span class="form__group-message email-message"></span>
    </div>
    <div class="form__group ">
        <label for="password">Password</label>
        <input type="password" name="password" class="password">
        <i class="fa-solid fa-triangle-exclamation error-icon"></i>
        <span class="form__group-message password-message"></span>
    </div>
    <div class="form__group ">
        <label for="confirm-password">Re-Password</label>
        <input type="password" name="confirm-password" class="confirm-password">
        <i class="fa-solid fa-triangle-exclamation error-icon"></i>
        <span class="form__group-message confirm-password-message"></span>
    </div>

    <p>Already have an account? <a href="/auth/login">Login now </a> <i class="bi bi-arrow-right"></i></p>
    <input type="submit" value="Register">
</form>
<script src="/public/script/validate.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    Validator(
        {
            form: ".form-1",
            error_message: ".form__group-message",
            rules: [
                Validator.isRequire(".name"),
                Validator.isRequire(".email"),
                Validator.isRequire(".password"),
                Validator.isRequire(".confirm-password"),

                Validator.isEmail(".email"),
                Validator.minLength(".password", 8),
                Validator.isConfirm(".confirm-password", () => {
                    return document.querySelector(`.form-1 input[type="password"]`).value
                }),
            ],
            onSubmit: function (data) {
                let email = document.querySelector("#email").value;
				$.post("/auth/check-exists-email",
					{
						email
					},
					function(data, status){
						if(data.exists == false){
							document.querySelector(".form-1").submit()
						}else{
                            Swal.fire({
								width: 600,
								icon:`error`,
								title: `Your email already exists. Please use other email!`,
								showConfirmButton: false,
								timer: 2500
							})
						}				
<<<<<<< HEAD
					}
=======
				    }
>>>>>>> 3bf954a77aa7485429be6f483db72d1f33b798d2
                );
            }
        })

</script>
{{#if isAlert}}
    <script>
        Swal.fire({
  icon: '{{icon}}',
  title: '{{title}}',
  showConfirmButton: false,
  timer: 1500
})
    </script>
{{/if}}